
<div class="main-container">
<%= @post.errors.full_messages.join(', ') %>
<br />
<br />
<%= form_for @post do |f| %>
    <div>
      <%= f.label :title %>
      <br />
      <%= f.text_field :title %>
      </div>
      <div class="form-group">
      <br />
      <%= f.label :body %>
      <br />
    <%= f.text_area(
        :body,
        cols:50,
        rows:5,
        placeholder:"What are your thoughts?",
        class: "form-control"
    ) %>

</div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  </div>