<div class="main-container">
<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<small>
Posted <%= time_ago_in_words(@post.created_at) %> ago
</small>

<br />
<p></p>

<div class="btn btn-outline-primary">
<%= link_to 'Edit',  edit_post_path(@post)%>
</div>
<div class="btn btn-outline-primary">
    <%= link_to 'Delete', post_path(@post), method: :delete%>
</div>

<br />

<hr />

<h2>Comments</h2>

<%= @comment.errors.full_messages.join(', ') %>
<%= form_for [@post,@comment] do
    |f| %>
    

<div class="form-group">

    <%= f.text_area(
        :body,
        cols:50,
        rows:5,
        placeholder:"What are your thoughts?",
        class: "form-control"
    ) %>

</div>

    <%= f.submit  class: "btn btn-outline-primary"  %>

    <% end %>


<hr />


    <% @post.comments.each do |ans| %>
        <%= ans.body %>
        <br />
        <small>
          Commented <%= time_ago_in_words(ans.created_at) %> ago
        </small>
        <%= link_to  'Delete', [@post, ans],
        method: :delete, data: { confirm: 'Are you sure?' } %>
    
        <hr>
      <% end %>
</div>