<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand-blue" href="/">
            Blog on Rails
          </a>
            <div class="space">
            <%= link_to 'Home', "/" %>
            <%= link_to 'New Post', '/posts/new' %>
            </div>
      </nav>
    </header>  
  
        <p></p>
    <%= yield %>
  </body>
</html>
